[submodule "static/nsviewer"]
	path = static/nsviewer
	url = git@github.com:neurosynth/nsviewer.git
[submodule "static/bootstrap-multiselect"]
	path = static/bootstrap-multiselect
	url = https://github.com/davidstutz/bootstrap-multiselect
