html {

  height: 100%;
  font-family: "Helvetica", sans-serif;

  }

body {

  height: 100%;
  padding-top: 30px;

}

div.selector {

  width: 200px;
  height: 100%;
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
  position: absolute;
  background: #ffffff;

  }

div.selector_group{

  margin-bottom: 10px;

  }

div.report {

  text-align: left;
  margin-top: 40px;
  margin-left: 235px;
  margin-bottom: 30px;
  position: absolute;
  width: 800px;
  height: 100%;

  }

div.viewer {

  text-align: left;
  margin-top: 40px;
  margin-left: 255px;
  position: fixed;
  width: 800px;
  height: 90%;

  }

select {

  width: 100%;

  }

div.submit-gen {

  height: 95px;

  }

div.navbar-inner {

  height: 30px;

  }

.select-toggle {

  width: 55px;

  }

legend {

  font-size: 1.3em;
  margin-bottom: 7px;

  }

