html {

  height: 100%;
  font-family: "Helvetica", sans-serif;

  }

body {

  height: 100%;

}

div.selector {

  width: 200px;
  height: 100%;
  margin-left: 15px;
  margin-bottom: 30px;
  position: absolute;
  background: #ffffff;

  }

div.header {

  height: 45px;
  width: 200px;
  text-align: center;
  position: absolute;

  }

div.report {

  text-align: left;
  margin-top: 5px;
  margin-left: 235px;
  position: absolute;
  width: 800px;
  height: 100%;

  }

select {

  width: 100%;

  }

form#mainform {

  margin-top: 100px;
  height: 95%;

  }

div.submit-gen {

  height: 95px;

  }
