html {

  height: 100%;
  font-family: "Helvetica", sans-serif;

  }

body {

  height: 100%;

}

div.selector {

  width: 200px;
  height: 100%;
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
  position: absolute;
  background: #ffffff;

  }

div.report {

  text-align: left;
  margin-top: 40px;
  margin-left: 235px;
  position: absolute;
  width: 800px;
  height: 100%;

  }

div.viewer {

  text-align: left;
  margin-top: 40px;
  margin-left: 255px;
  position: absolute;
  width: 800px;
  height: 100%;

  }

select {

  width: 100%;

  }

div.submit-gen {

  height: 95px;

  }

div.navbar-inner {

  height: 30px;

  }
