<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" media="screen"
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen"
          href="{{ url_for('static', filename='bootstrap-multiselect.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript" src="static/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bootstrap-multiselect.js"></script>

    {% if javascript %}
      <link rel=stylesheet type=text/css
            href="{{ url_for('static', filename='nsviewer/example/css/style.css') }}">
      <link rel=stylesheet type=text/css
            href="{{ url_for('static', filename='nsviewer/example/css/jquery-ui.css') }}">

      <script src="static/nsviewer/example/js/panzoom.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/xtk.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/jquery-ui.min.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/rainbow.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/sylvester.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/amplify.min.js" type="text/javascript"></script>
      <script src="static/nsviewer/example/js/viewer.js" type="text/javascript"></script>

    {% endif %}

    <title>Ziegler: {{ experiment }}</title>
  </head>

  <body>
    <div class=documentwrapper>
      {% if not reportonly %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="http://github.com/mwaskom/ziegler" target="_blank">Ziegler</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href={{ url_for('experiment') }}>Experiment: {{ experiment }}</a></li>
              </ul>
              {% if report %}
                <form class="navbar-form navbar-right">
                  <div class="form-group">
                    <input id="share_link" type="text" class="form-control" value={{ report_url }}></input>
                  </div>
                </form>
                <a class="navbar-text navbar-right">Share report:</a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class=selector>

          <ul class="nav nav-tabs nav-justified" id="selector_tabs">
            <li class="active"><a href="#subject_selector" data-toggle="tab">Subject</a></li>
            <li><a href="#group_selector" data-toggle="tab">Group</a></li>
          </ul>

          <form action={{ url_for('generate_report') }} method=post id=mainform>

            <div class="tab-content">

              <div class="tab-pane active" id="subject_selector">

                <div class=selector_group>
                  <legend>Subjects</legend>
                  <select multiple size={{ subjects_size }} name=subjects id=subjects>
                    {% for subj in all_subjects %}
                      <option value="{{ subj }}">{{ subj }}</option>
                    {% endfor %}
                  </select>
                  <button id="subjects-toggle" class="btn btn-all select-toggle">All</button>
                </div>

                {% if any_anatomy %}
                  <div class=selector_group>
                    <legend>Anatomy</legend>
                    <select multiple="multiple" name=anatomy id=anatomy>
                      <option value=surfaces>Inflated Surfaces</option>
                      <option value=surfwarp>Surface Normalization</option>
                      <option value=brainmask>Freesurfer Volume</option>
                      <option value=aseg>Automated Segmentation</option>
                      <option value=anatwarp>FNIRT Normalization</option>
                    </select>
                    <button id="anatomy-toggle" class="btn btn-all select-toggle">All</button>
                  </div>
                {% endif %}

                {% if any_rois %}
                  <div class=selector_group>
                    <legend>ROI Masks</legend>
                    <select multiple name=rois id=rois>
                      {% for roi in all_rois %}
                        <option value="{{ roi }}">{{ roi }}</option>
                      {% endfor %}
                    </select>
                    <button id="rois-toggle" class="btn btn-all select-toggle">All</button>
                  </div>
                {% endif %}

                {% if any_preproc %}
                  <div class=selector_group>
                    <legend>Preprocessing</legend>
                    <select multiple size=6 name=preproc id=preproc>
                      <option value=mc_target>Motion Correction Target</option>
                      <option value=realign>Realignment Parameters</option>
                      <option value=artifacts>Artifact Detection</option>
                      <option value=brain_mask>Brain Mask</option>
                      <option value=mean_func>Mean BOLD Intensity</option>
                      <option value=coreg>Coregistration</option>
                    </select>
                    <button id="preproc-toggle" class="btn btn-all select-toggle">All</button>
                  </div>
                {% endif %}

                {% if any_model %}
                  <div class=selector_group>
                    <legend>Timeseries Model</legend>
                    <select multiple size=7 name=model id=model>
                      <option value=design_mat>Design Matrix</option>
                      <option value=confound_corr>Confound Correlation</option>
                      <option value=svd>Singular Values</option>
                      <option value=residuals>Model Error</option>
                      <option value=r2s>Model Fit</option>
                      <option value=filter>Contrast Spectrum</option>
                      <option value=zstats>Z-Stat Images</option>
                    </select>
                    <button id="model-toggle" class="btn btn-all select-toggle">All</button>
                  </div>
                {% endif %}

                {% if any_ffx %}
                  <div class=selector_group>
                    <legend>Fixed Effects</legend>
                    <select multiple name=ffx id=ffx>
                      <option value=mask>Mask Overlap</option>
                      <option value=r2s>Model Fit</option>
                      <option value=zstat>Z-Stat Image</option>
                    </select>
                    <button id="ffx-toggle" class="btn btn-all select-toggle">All</button>
                  </div>

                  <div class="selector_group">
                    <legend>Common Space</legend>
                    <select size=2 name=ffxspace id=ffxspace>
                      <option name="ffxspace" value="mni" selected>MNI</label>
                      <option name="ffxspace" value="epi">EPI</label>
                    </select>
                  </div>
                {% endif %}

              </div>
              <div class="tab-pane" id="group_selector">

                {% if any_group %}

                  <div class=selector_group>
                    <legend>Group Name</legend>
                    <select size={{ group_size }} name=groupname id=groupname>
                      <option selected value=group>group</option>
                      {% for name in group_names[1:] %}
                        <option value={{ name }}>{{ name }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class=selector_group>
                    <legend>Activation Maps</legend>
                    <select multiple size=3 name=maps id=maps>
                      <option value=mask>Group Mask</option>
                      <option value=zstat>Z-Stat Image</option>
                      <option value=surface>Surface Projection</option>
                    </select>
                    <button id="maps-toggle" class="btn btn-all select-toggle">All</button>
                  </div>

                  <div class=selector_group>
                    <legend>Activation Peaks</legend>
                    <select multiple size=6 name=peaks id=peaks>
                      <option value=peaktable>Activation Peak Table</option>
                      <option value=boxplot>COPE Distributions</option>
                      <option value=peakimg>Activation Peak Image</option>
                      <option value=watershed>Watershed Segmentation</option>
                    </select>
                    <button id="peaks-toggle" class="btn btn-all select-toggle">All</button>
                  </div>

                  <div class="selector_group">
                    <legend>Common Space</legend>
                    <select size=2 name=groupspace id=groupspace>
                      <option name="groupspace" value="mni" selected>MNI</label>
                      <option name="groupspace" value="fsaverage">FSaverage</label>
                    </select>
                  </div>
                {% endif %}

              </div>

              {% if any_contrasts %}
                <div class="selector_group dropup">
                  <legend>Contrasts</legend>
                  <select multiple size={{ contrast_size }} name=contrasts id=contrasts>
                    {% for contrast in all_contrasts %}
                      <option value="{{ contrast }}">{{ contrast }}</option>
                    {% endfor %}
                  </select>
                  <button id="contrasts-toggle" class="btn btn-all select-toggle">All</button>
                </div>
              {% endif %}

            </div>
          </form>
        <div class="submit-gen">
          <input class="btn btn-block btn-primary" type=submit form=mainform name=btn value="Generate Report">
        </div>
        </div>

      </div>
      {% endif %}

      {% block report %}{% endblock %}

      {% block viewer %}{% endblock %}

      {% block experiment %}{% endblock %}

      {% if pandocfail %}
        <script>window.alert("Failed to generate PDF.\n" +
                             "Do you have Pandoc and Latex installed?");</script>
      {% endif %}
    </div>
  </body>
</html>

<script type="text/javascript">
  /**
  * Gets whether all the options are selected
  * @param {jQuery} $el
  * @returns {bool}
  */
  function multiselect_selected($el) {
    var ret = true;
    $('option', $el).each(function(index, value) {
      if (!value.selected) {
        ret = false;
      }
    });
    return ret;
  }

  /**
  * Selects all the options
  * @param {jQuery} $el
  * @returns {undefined}
  */
  function multiselect_selectAll($el) {
    $('option', $el).each(function(element) {
      $el.multiselect('select', $(this).val());
    });
  }
  /**
  * Deselects all the options
  * @param {jQuery} $el
  * @returns {undefined}
  */
  function multiselect_deselectAll($el) {
    $('option', $el).each(function(element) {
      $el.multiselect('deselect', $(this).val());
    });
  }
   
  /**
  * Clears all the selected options
  * @param {jQuery} $el
  * @returns {undefined}
  */
  function multiselect_toggle($el, $btn) {
    if (multiselect_selected($el)) {
      multiselect_deselectAll($el);
      $btn.text("All");
    }
    else {
      multiselect_selectAll($el);
      $btn.text("None");
    }
  }
  
  $(document).ready(function() {
    {% for section in ["subjects", "anatomy", "preproc", "model", "ffx", "rois", "maps", "peaks", "contrasts"] %}
      $('#{{ section }}').multiselect({
        buttonWidth: '140px',
        buttonText: function(options) {
          if (options.length == 0) {
            return '{{ section | capitalize }}   <b class="caret"></b>';
          }
          else {
            return options.length + ' selected  <b class="caret"></b>';
          }
        }
      });

      $('#{{ section }}-toggle').click(function(e) {
        e.preventDefault();
        multiselect_toggle($("#{{ section }}"), $(this));
      });

    {% endfor %}

    {% for section in ["ffxspace", "groupname", "groupspace"] %}
      $("#{{ section }}").multiselect({ buttonWidth: '200px' });
    {% endfor %}

    $('#selector_tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
  })

</script>
