{% extends "layout.html" %}

{% macro view(path, name, palette='grayscale', sign='both', visible='true') -%}
  url={{ path }}/{{ name }}.nii.gz&name={{ name }}&palette={{ palette }}&sign={{ sign }}&pos_thresh={{ palette | thresh_pos }}&neg_thresh={{ palette | thresh_neg }}&visible={{ visible }}
{%- endmacro %}

{% block report %}
  <div class="report">
    {% for subj in subjects %}
      <h2>{{ subj }}</h2>

      {% if anatomy %}
        {% set path = "static/" ~ experiment ~ "/data/" ~ subj %}
        <h3>Anatomy</h3>
        {% if "surfaces" in anatomy %}
          <h4>Inflated Surfaces</h4>
          <img width=395 src="{{ path }}/snapshots/lh.surface_lat.png">
          <img width=395 src="{{ path }}/snapshots/lh.surface_med.png"><br>
          <img width=395 src="{{ path }}/snapshots/rh.surface_lat.png">
          <img width=395 src="{{ path }}/snapshots/rh.surface_med.png"><br>
        {% endif %}
        {% if "surfwarp" in anatomy %}
          <h4>Surface Normalization</h4>
          <img width=395 src="{{ path }}/snapshots/lh.surf_warp_lat.png">
          <img width=395 src="{{ path }}/snapshots/lh.surf_warp_med.png"><br>
          <img width=395 src="{{ path }}/snapshots/rh.surf_warp_lat.png">
          <img width=395 src="{{ path }}/snapshots/rh.surf_warp_med.png"><br>
        {% endif %}
        {% if "brainmask" in anatomy %}
          <h4>Freesurfer Volume</h4>
          <img src="{{ path }}/snapshots/volume.png"><br>
        {% endif %}
        {% if "aseg" in anatomy %}
          <h4>Automated Segmentation</h4>
          <img src="{{ path }}/snapshots/aseg.png"><br>
        {% endif %}
        {% if "anatwarp" in anatomy %}
          <h4>FNIRT Normalization</h4>
          <img src="{{ path }}/normalization/warp_report.png">
        {% endif %}
      {% endif %}

      {% if preproc %}
        <h3>Preprocessing</h3>

        {% for run in runs %}
          {% if preproc != ["anatwarp"] %}
            <h4>Run {{ run }}</h4><br>
          {% endif %}
        {% set path = "static/" ~ experiment ~ "/analysis/" ~ subj ~ "/preproc/run_" ~ run %}
          {% if "mc_target" in preproc %}
            <h5>Motion Correction Target</h3>
            <img src="{{ path }}/example_func.png"></a>
            <br>
          {% endif %}
          {% if "realign" in preproc %}
            <h5>Realignment Parameters</h3>
            <img src="{{ path }}/realignment_plots.png"><br>
          {% endif %}
          {% if "artifacts" in preproc %}
            <h5>Artifact Detection</h3>
            <img src="{{ path }}/artifact_detection.png"><br>
          {% endif %}
          {% if "brain_mask" in preproc %}
            <h5>Brain Mask</h3>
            <img src="{{ path }}/functional_mask.png"><br>
          {% endif %}
          {% if "mean_func" in preproc %}
            <h5>Mean BOLD Intensity</h3>
            <img src="{{ path }}/mean_func.png"><br>
          {% endif %}
          {% if "coreg" in preproc %}
            <h5>Anatomical Coregistration</h3>
            <img src="{{ path }}/func2anat.png"><br>
          {% endif %}
        {% endfor %}

        {% if "anatwarp" in preproc %}
          <h5>Normalization</h4><br>
          <img src="/static/{{ experiment }}/data/{{ subj }}/normalization/warp_report.png"><br>
        {% endif %}

      {% endif %}

      {% if model %}
        <h3>Timeseries Model</h3>
        {% for run in runs %}
          {% set path = "static/" ~ experiment ~ "/analysis/" ~ subj ~ "/model/smoothed/run_" ~ run %}
          <h4>Run {{ run }}</h4><br>
          {% if "design_mat" in model %}
            <h5>Design Matrix</h5><br>
            <img src="{{ path }}/design.png"><br>
          {% endif %}
          {% if "confound_corr" in model %}
            <h5>Confound Correlation</h5><br>
            <img src="{{ path }}/design_correlation.png"><br>
          {% endif %}
          {% if "svd" in model %}
            <h5>Singular Values</h5>
            <img src="{{ path }}/design_singular_values.png"><br>
          {% endif %}
          {% if "residuals" in model %}
            <h5>Model Error</h5><br>
            <img src="{{ path }}/sigmasquareds.png"><br>
          {% endif %}
          {% if "r2s" in model %}
            <h5>Model Fit</h5>
            {% for comp in ["full", "main", "confound"] %}
              <h6>{{ comp | capitalize }} model R squared</h6>
              <img src="{{ path }}/r2_{{ comp }}.png"><br>
            {% endfor %}
          {% endif %}
          {% if "zstats" in model or "filter" in model %}
            {% for contrast in contrasts %}
              <h5>Contrast: {{ contrast }}</h6>
              {% if "filter" in model %}
                <img src="{{ path }}/cope{{ loop.index}}_filter.png"><br>
              {% endif %}
              {% if "zstats" in model %}
                <img src="{{ path }}/zstat{{ loop.index }}.png"><br>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if ffx %}
        <h3>Fixed Effects</h3>
        {% set path = "static/" ~ experiment ~ "/analysis/" ~ subj ~ "/ffx/" ~ space ~ "/smoothed/" %}
        {% if "mask" in ffx %}
          <h4>Mask Overlap</h4><br>
          <img src="{{ path }}/mask_overlap.png"><br>
        {% endif %}
        {% if "r2s" in ffx %}
          <h4>Model Fit</h4>
          <h5>Full Model R Squared</h5><br>
          <img src="{{ path }}/r2_full.png"><br>
          <h5>Main Model R Squared</h5><br>
          <img src="{{ path }}/r2_main.png"><br>
        {% endif %}
        {% if "zstat" in ffx %}
          {% for contrast in contrasts %}
            {% set path = "static/" ~ experiment ~ "/analysis/" ~ subj ~ "/ffx/" ~ space ~ "/smoothed/" ~ contrast %}
            <h4>Contrast: {{ contrast }}</h4><br>
            <h5>Z-Stat Image</h5><br>
              {% if space == "mni" %}
                  {% set anatpath = "static/" ~ experiment ~ "/data/" ~ subj ~ "/normalization/" %}
                  {% set vlink = "viewer?source=" ~ subj ~ "&contrast=" ~ contrast ~ "&" ~ view(anatpath, 'brain_warp') ~ "&" ~ view(path, 'zstat1', "intense%20red-blue") %}
                  <a href={{ vlink }}><img src="{{ path }}/zstat1.png"></a>
              {% else %}
              <img src="{{ path }}/zstat1.png"><br>
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}

      {% if rois %}
        {% set path = "static/" ~ experiment ~ "/data/" ~ subj ~ "/masks" %}
        <h3>ROI Masks</h3>
        {% for roi in rois %}
          <h4>{{ roi }}</h4>
          <img src="{{ path }}/{{ roi }}.png"><br>
        {% endfor %}
      {% endif %}

    {% endfor %}

    {% if group %}
      <h2>Group Analysis ({{ groupname }})</h2>
      {% for contrast in contrasts %}
        {% set path = "static/" ~ experiment ~ "/analysis/" ~ groupname ~ "/" ~ space ~ "/" ~ contrast %}
        {% if "mask" in group %}
          {% if loop.first %}
            <h4>Group Mask</h4><br>
            <img src="{{ path }}/group_mask.png"><br>
          {% endif %}
        {% endif %}
        <h3>Contrast: {{ contrast }}</h3>
        {% if "zstat" in group %}
          <h4>Z-Stat Image<h4>
          {% set anatpath = "static/nsviewer/example/data/" %}
          {% set vlink = "viewer?source=" ~ groupname ~ "&contrast=" ~ contrast ~ "&" ~ view(anatpath, 'MNI152') ~ "&" ~ view(path, 'zstat1', "brown-teal", "both", "false") ~ "&" ~ view(path, 'zstat1_threshold', "red", "positive") %}
          <a href={{ vlink }}><img src="{{ path }}/zstat1_threshold.png"></a>
          <br>
        {% endif %}
        {% if "peaktable" in group %}
          <h4>Activation Peak Table</h4><br>
          {% filter csv_to_html %}{{ path }}/zstat1_localmax.csv{% endfilter %}
        {% endif %}
        {% if "peakimg" in group %}
          <h4>Activation Peak Image</h4><br>
          <img src="{{ path }}/zstat1_threshold_peaks.png"><br>
        {% endif %}
        {% if "boxplot" in group %}
          <h4>COPE Distributions</h4><br>
          <img src="{{ path }}/peak_boxplot.png"><br>
        {% endif %}
        {% if "watershed" in group %}
          <h4>Watershed Segmentation (Experimental)</h4><br>
          <img src="{{ path }}/zstat1_threshold_seg.png"><br>
        {% endif %}
        {% if "surface" in group %}
          <h4>Surface Projection</h4><br>
          <img width=395 src="{{ path }}/lh.zstat1_threshold.png">
          <img width=395 src="{{ path }}/rh.zstat1_threshold.png"><br>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
