{% extends "layout.html" %}
{% block viewer %}

<script>
  $(document).ready(function() {

    viewer = new Viewer('#layer_list', '.layer_settings');
    viewer.addView('#view_axial', Viewer.AXIAL);
    viewer.addView('#view_coronal', Viewer.CORONAL);
    viewer.addView('#view_sagittal', Viewer.SAGITTAL);
    viewer.addSlider('opacity', '.slider#opacity', 'horizontal', 0, 1, 1, 0.05, null, '#opacity-text');
    viewer.addSlider('pos-threshold', '.slider#pos-threshold', 'horizontal', 0, 1, 0, 0.01, null, '#pos-threshold-text');
    viewer.addSlider('neg-threshold', '.slider#neg-threshold', 'horizontal', 0, 1, 0, 0.01, null, '#neg-threshold-text');
    viewer.addSlider("nav-xaxis", ".slider#nav-xaxis", "horizontal", 0, 1, 0.5, 0.01, Viewer.XAXIS);
    viewer.addSlider("nav-yaxis", ".slider#nav-yaxis", "vertical", 0, 1, 0.5, 0.01, Viewer.YAXIS);
    viewer.addSlider("nav-zaxis", ".slider#nav-zaxis", "vertical", 0, 1, 0.5, 0.01, Viewer.ZAXIS);

    viewer.addColorSelect('#select_color');
    viewer.addSignSelect('#select_sign')
    viewer.addDataField('voxelValue', '#data_current_value')
    viewer.addDataField('currentCoords', '#data_current_coords')
    viewer.clear()

    images = [
      {% for data in viewdata %}
        {
          'url': "{{ data.url }}",
          'name': "{{ data.name }}",
          'colorPalette': "{{ data.palette }}",
          'sign': "{{ data.sign }}",
          'positiveThreshold': {{ data.pos_thresh }},
          'negativeThreshold': {{ data.neg_thresh }},
          'visible': {{ data.visible }},
          'cache': true
        } {% if not loop.last %},{% endif %}
      {% endfor %}
		];
    viewer.loadImages(images);

  });
</script>

<div class="viewer">
  <h2>{{ source }}: {{ contrast }}</h2>
  <div class='row'>
    <div class='span1'></div>
    <div class='span11'>
      <div id="views_left">
        <div class='view' id='view_coronal'>
          <canvas height='220' id='cor_canvas' width='220'></canvas>
          <div class='slider nav-slider-vertical' id='nav-yaxis'></div>
        </div>
        <div class='view' id='view_axial'>
          <canvas height='264' id='axial_canvas' width='220'></canvas>
          <div class='slider nav-slider-vertical' id='nav-zaxis'></div>
        </div>
      </div>
      <div id="views_right">
        <div class='view' id='view_sagittal'>
          <canvas height='220' id='sag_canvas' width='264'></canvas>
          <div class='slider nav-slider-horizontal' id='nav-xaxis'></div>
        </div>
        <div id="data_panel">
          <div id="data_current_coords"></div>
          <div id="data_current_value"></div>
        </div>
      </div>

      <div id="layer_panel">
        <div id="layer_list_panel">
          <div>Layers</div>
          <div id="layer_visible_list"></div>
          <ul id="layer_list" class="layer_settings">
          </ul>
          </select>
        </div>
        <div id="layer_settings_panel">
          Color palette:<select id="select_color" class="layer_settings"></select>
          Positive/Negative:<select id="select_sign" class="layer_settings"></select>
          Opacity:
            <input class="slider-text" id="opacity-text" />
            <div class='slider layer_settings' id='opacity'></div>
          Pos. threshold:
            <input class="slider-text" id="pos-threshold-text" />
            <div class="slider layer_settings" id='pos-threshold'></div>
          Neg. threshold:
            <input class="slider-text" id="neg-threshold-text" />
            <div class="slider layer_settings" id='neg-threshold'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
